body {
  background-color: #b3c966;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Adicionado para alinhar verticalmente os elementos */
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.gallery {
  background-color: #afc194;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; 
 /*flex-direction:*/
  min-width: 900px;
  max-width: 900px;
}

h1 {
  color: #fff;
  margin-top: 0px; /* Adicionado para remover a margem superior padrão */
}

.imagem {
  flex: 0 0 200px;
  margin-right: 20px;
  margin-bottom: 20px; /* Adicionado espaçamento entre as imagens */
}
.imagem{
  max-width: 400px;
  min-width: 300px;
}

.nome {
  margin: 0;
  top: 0px;
  text-align: center;
  align-item:center;
}
.conteudos{
  flex-direction:column;
  text-align:center;
  align-items: center;
  margin: 0 auto;
}

.dog-sobre {
  flex: 1;
  padding: 20px;
  font-size: 14px;
  display: inline-block;  
  max-width: 540px;
}

.dog-nome {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 5px; /*  destacar o nome */
  text-align: center;
  margin: 0 auto;
}

.dog-sexo {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

a{
  display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #45a049;
  }
  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;
    display: flex;
  }
  
  .slide-img {
    width: 100%;
    height: auto;
  }
  
  .slide-content {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  .dog-nome {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .dog-sexo,
  .dog-sobre {
    margin-bottom: 10px;
  }
  
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #45a049;
  }
  .conteudo-anjos{
    max-width: 890px;
    margin:0 auto;
    text-align: center;
  }
  .conteudo-anjos > p{
    font-size: 110%;
  }

@media (max-width:999px){
  .gallery {
    background-color: #afc194;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    min-width: auto;
    max-width: auto;
    min-height: auto;
  }
  .imagem{
    max-width: 100%;
  
  }
  .dog-nome {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 5px; /*  destacar o nome */
    text-align: center;
  }
  .dog-sobre{
    font-size: 2vh;
  }
}