* {
  margin:0;
  padding:0;
  list-style:none;
  vertical-align:baseline;
}
body { overflow-x: hidden; }

a{
  text-decoration: none;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
a:hover{
  opacity: 0.7;
}

p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navBar{
  text-transform: uppercase;
  width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #23232e;
    height: 10vh;
}
.navBar > img{
  height: 100%;
}
.button-donation{
  border-radius: 15px;
  padding-top: 12px;
  height: 50%;
  width: 10%;
  text-align: center;
  background-color: #B4B4ED;
  margin-left: 4px;
  font-size: 120%;

}
.nav-list{
  list-style: none;
  display: flex;
}

.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
  display:block;
}

.mobile-menu{
  cursor:pointer;
 visibility: hidden;
}
.mobile-menu div{
  width: 32px;
  height: 2px;
  background:#fff;
  margin: 8px;
}

@media(max-width:999px){
  body{
    overflow-x:hidden ;
  }
  .nav-list{
    position:absolute;
    top:9.5vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    background-color: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    z-index: 1;
  }
  .nav-list li{
    margin-left :20px;
    opacity: 0;
  }
  .mobile-menu{
  display: block;
   visibility: visible;
   margin: 0;
  }
  .button-donation{
    font-size: 100%;
  }
}

.nav-list.active{
  transform: translateX(0);
  margin-top: 0;
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }to{
    opacity: 1;
    transform: translateX(0);
  }
}
.instagram {
  height: 5vh;
}

.instagram > img{
  height: 100%;
  align-items: left;
  
  
}


#sobre{
  background-color: 	#363145;
  z-index: 0;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
}
.box{
  flex-basis: 30%; /* define a largura de cada div */
        margin: 10px; /* adiciona uma margem entre as divs */
        background-color:  #9B4F96; /* define uma cor de fundo */
        text-align: center; /* centraliza o conteúdo da div */
        align-items: center;
      
        
        
}
.box > a{
  color: #FFA500;
}
.box > img{
  max-width: 50%;
  min-width: 100px;
  margin: auto; /* centraliza a imagem */
}
#sobre > h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  text-align: center;
  width: 100%;
  display: inline-block;

}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container img {
  max-width: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.voluntarios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #363145;
}
.voluntarios img {
  max-width: 100%;
  max-height: 350px;
}
.topicos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.topico {
  margin-bottom: 20px;
}
.topico h2 {
  font-size: 20px;
}
.topico p {
  font-size: 16px;
  margin: 10px 0;
}
.topico a {
  font-size: 16px;
}


.caes-comunitarios{
position: relative;
display: block;
float:left;
clear: both;
}
.caes-comunitarios > h1{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
figure{
  border: thin #c0c0c0 solid;
  display: inline;
  flex-flow: column;
  padding: 5px;
  max-height: 265px;
  max-width: 239px;
  margin: 2em;
}

