* {
  margin:0;
  padding:0;
  list-style:none;
  vertical-align:baseline;
}
body { overflow-x: hidden;
background-color:  #181a1f; }

a{
  text-decoration: none;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
a:hover{
  opacity: 0.7;
}

p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navBar{
  text-transform: uppercase;
  width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #23232e;
    height: 10vh;
}
.navBar > img{
  height: 100%;
}
.button-donation{
  border-radius: 15px;
  padding-top: 12px;
  height: 50%;
  width: 10%;
  text-align: center;
  background-color: #B4B4ED;
  margin-left: 4px;
  font-size: 120%;
  transition: transform 0.2s ease-in-out;
}
.nav-list{
  list-style: none;
  display: flex;
}

.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
  display:block;
}

.mobile-menu{
  cursor:pointer;
 visibility: hidden;
}
.mobile-menu div{
  width: 32px;
  height: 2px;
  background:#fff;
  margin: 8px;
}

@media(max-width:999px){
  body{
    overflow-x:hidden ;
  }
  .nav-list{
    position:absolute;
    top:9.5vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    background-color: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    z-index: 1;
  }
  .nav-list li{
    margin-left :20px;
    opacity: 0;
  }
  .mobile-menu{
  display: block;
   visibility: visible;
   margin: 0;
  
  }
  .button-donation{
    font-size: 100%;
  }

}

.nav-list.active{
  transform: translateX(0);
  margin-top: 0;
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }to{
    opacity: 1;
    transform: translateX(0);
  }
}
.instagram {
  height: 5vh;
  vertical-align: top;
}

.instagram > img{
  height: 10%;
  align-items: left;
  vertical-align:top;
  
}

#doacao-home{
  background-color: #23232e;
  height: 80vh;
  color: #fff;
  flex-basis: 30%; /* define a largura de cada div */
        text-align: center; /* centraliza o conteúdo da div */
        align-items: center;     
}
.second-line{
  margin-bottom: 20px;
}

.conteudo{
  height: 50%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.link{
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border: solid 1px black;
  border-radius: 20vh;
  background-color: #02FC72;
  max-width: 200px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 999px) {
  #doacao-home {
    display: none;
  }
}


#sobre{
  background-color: 	#3b283b;
  z-index: 0;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
  color: #fff;
}
.box{
  flex-basis: 30%; /* define a largura de cada div */
        margin: 10px; /* adiciona uma margem entre as divs */
        background-color:  #3b283b; /* define uma cor de fundo */
        text-align: center; /* centraliza o conteúdo da div */
        align-items: center;
      
        
        
}
.box > a{
  color: #FFA500;
}
.box > img{
  max-width: 50%;
  max-width: 180px;
  height: 190px;
  margin: auto; /* centraliza a imagem */
  margin-bottom: 10px;
}
.box >h1{
  letter-spacing:2px;
}
#sobre > h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  text-align: center;
  width: 100%;
  display: inline-block;

}

.voluntarios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #363145;
  margin-bottom: 20px;
  width: 100%;
}
.voluntarios img {
  max-width: 100%;
  max-height: 350px;
}

.topicos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color:#fff;
  
}
.topico {
  margin-bottom: 20px;
}
.topico h2 {
  font-size: 20px;
}
.topico h1 {
  font-size: 40px;
}
.topico p {
  font-size: 16px;
  margin: 10px 0;
}
.topico a {
  font-size: 16px;
  background-color: #02FC72;
  padding: 4px;
  border-radius: 2vh;
  border: solid 1px black;
}


.slider-container {
  position: relative;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slider img {
  width: 265px;
  height: 265px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.apadrinhar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color:#363145;
}
.topico-apadrinhar >h1 {
  display: flex;
  color:#fff;
  margin:auto;
  justify-content: center;

}
.topico-apadrinhar >p{
  display: flex;
  color:#fff;
  margin:40px ;
  text-align: center;
   font-size: 20px;
}
.topico-apadrinhar >img{
  height: 300px;
  margin: auto;
  display: block;
  
}

.topico-apadrinhar > a{
  font-size: 20px;
  background-color: #02FC72;
  padding: 4px;
  border-radius: 2vh;
  border: solid 1px black;
  display: block;
  max-width: 80px;
  margin: auto;
  text-align: center;
 transition: transform 0.2s ease-in-out;
}
a:hover{
  transform: translateY(-5px);
}
