* {
	box-sizing: border-box;
}

body {
	color:black;
	margin: 0;
	padding: 0;
	background-color:  #b3c966 ;
}
.conteudo-anjos{
	max-width: 600px;
	margin:0 auto;
	text-align: center;
}
.conteudo-anjos > p{
	font-size: 110%;
}

.cracha {
	background-color: #afc194;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 600px;
	height: 500px;
	margin: 50px auto;
	border: 2px solid #afc194;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #cccccc;
    
}

.foto {
	margin: 20px;
}

.foto img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 3px solid #afc194;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 20px;
}

label {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;
}

input {
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 0px 0px 5px black;
	width: 300px;
}

input:focus {
	outline: none;
	box-shadow: 0px 0px 5px #4CAF50;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #ffffff;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 20px;
}
#sobre{
	width: 100%;
	height: 80px;
}
@media only screen and (max-width: 999px) {
	.cracha {
		flex-direction: column;
		height: auto;
	}

	.foto {
		margin-bottom: 20px;
	}

	.info {
		margin: 0;
	}
}